<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Le projet Almanac LFBI - TWR est destiné à :</p>
<p>
  - Equilibrer de manière semi automatique et statistique les temps de travails des agents et les configurations de mise en poste, à la fois sur le court terme le moyen terme et le long terme.</p>
<p>
  - Fournir des outils de calcul statistique permettant de repérer les erreurs d'affectation automatiquement lors de l'établissement des armements hebdomadaires ou des permutations de configuration de travail.
</p>