<% provide(:title, 'Help') %>
<h1>Help</h1>
<h2>Menus</h2>
<p>
  Les menus sont divisés en quatres catégories. Almanac, Agents, Armements, Vacations.
</p>
<h3>Almanac</h3>
<p>
  Cet page donne accès à la consultation la modification et la création de semaines d'armement du service.
</p>
<h3>Agents</h3>
<p>
  Cet page donne accès à la consultation, la création et l'édition de profils d'agents affectés ou semi affectés au service.
</p>
<h3>Armements</h3>
<p>
  Cet page donne accès à la consultation, la création et l'édition de profils d'armements déstiné à être utilisés pour informer le logiciel sur les besoins en personnel d'une journée donnée.
</p>
<h3>Vacations</h3>
<p>
  Cet page donne accès à la consultation, la création et l'édition de profils de vacation de service déstinés à être utilisé dans les calculs de compatibilité, les statistiques personnelles des agents, et utilisés pour décrire des "profils d'Armements"
  La fabrication d'une vacation se base sur la description heure par heure de ce qui est attendu de l'agent auquel sera attribué la vacation constituée.</p>
<p>
  La durée décrite comporte 48 heures à décrire, démarrant à 00h00 le jour ou la vacation est utilisée et se terminant à 23h59 le lendemani du jour de la vacation ce afin de pouvoir décrire les périodes de récupération et les profils de service à cheval sur deux journées comme les vacations de nuit.</p>
