<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1><%= greet_user %></h1>

  <h2>
    Bienvenu sur l'Almanac TWR LFBI.
  </h2>
  <h2>
    <%= helper_date %>
  </h2>

  <%= link_to "Inscription", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
